.accordion-title {
  font-size: 18px;
  line-height: 23 / 18 *100%;
  color: $dark;
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 70%;

  @include poppins-medium;

  @include mobile {
    font-size: 16px;
    line-height: 22px;
  }
}

.accordion-title::after {
  content: "";
  display: block;
  position: absolute;
  right: -43%;
  top: 5px;
  width: 17px;
  height: 10px;
  background-image: url("../img/icon-filter-up-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @include tablet {
    width: 25px;
    height: 14px;
    background-image: url("../img/icon-filter-up-tablet.svg");
  }

  @include mobile {
    width: 22x;
    height: 12px;
    background-image: url("../img/icon-filter-up-mobile.svg");
  }
}

// Открытый аккордеон

.accordion-title--select {
  font-size: 18px;
  line-height: 23 / 18 *100%;
  color: $dark;
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  cursor: pointer;
  position: relative;

  @include poppins-medium;

  @include mobile {
    font-size: 16px;
    line-height: 22px;
  }
}

.accordion-title--select::after {
  content: "";
  display: block;
  position: absolute;
  right: -43%;
  top: 3px;
  width: 17px;
  height: 10px;
  background-image: url("../img/icon-filter-down-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @include tablet {
    width: 25px;
    height: 14px;
    background-image: url("../img/icon-filter-down-tablet.svg");
  }

  @include mobile {
    width: 22x;
    height: 12px;
    background-image: url("../img/icon-filter-down-mobile.svg");
  }
}
