.button-action {
  cursor: pointer;
  background-color: $brown-main;
  font-size: 16px;
  line-height: 21 / 16 *100%;
  color: $white;
  padding: 22px 0;
  border: none;
  width: 100%;

  @include poppins-medium;
}

.button-action:hover {
  background-color: $brown-dark;
}

.button-action:active {
  box-shadow: 0 0 3px 3px $dark;
}
