.button-clear {
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  padding: 25px 0;
  width: 100%;
  border: 1px solid $brown-main;
  transition: all 0.3s ease-in;

  @include poppins-medium;
}

.button-clear:hover {
  background-color: $pale-grey;
  transition: all 0.3s ease-in;
}
