.button-clear {
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  padding: 28px 0;
  width: 100%;
  border: 1px solid $brown-main;

  @include poppins-medium;
}

.button-clear:hover {
  background-color: $pale-grey;
}
