// Основные

.follow-us {
  width: 100%;
}

.follow-us__wrapper {
  padding: 0 7% 128px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 0 7% 76px;
  }

  @include mobile {
    padding: 0 5% 70px;
  }
}

// Заголовок блока

.follow-us__wrapper h2 {
  text-align: center;
  display: block;
  margin: 0 0 30px 0;
  padding: 0;

  @include tablet {
    margin: 0 0 16px;
  }
}

.follow-us__wrapper span:first-of-type {
  font-size: 42px;
  line-height: 55px;
  color: $dark;
  margin: 0;
  padding: 0;

  @include cormorant-bold;
}

.follow-us__wrapper span:last-of-type {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: $dark;
  margin: 0;
  padding: 0;

  @include cormorant-bold;
}

.follow-us__wrapper a {
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  display: block;
  position: relative;
  text-align: center;
  margin: 0 0 66px 0;

  @include poppins-medium;

  @include tablet {
    margin: 0 0 64px;
  }

  @include mobile {
    margin: 0 0 50px;
  }
}

.follow-us__wrapper a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: $brown-main;
}

// Список картинок

.follow-us__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 24px;
  justify-content: space-between;

  @include tablet {
    gap: 10px;
  }

  @include mobile {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }
}

.follow-us__wrapper li img {
  object-fit: cover;
}

.follow-us__wrapper li:nth-child(-n+3) img {
  @include tablet {
    width: 133px;
    height: 133px;
  }
}

.follow-us__wrapper li:first-child + li {
  @include mobile {
    display: none;
  }
}

.follow-us__wrapper li:nth-child(5n-2) {
  @include mobile {
    display: none;
  }
}

.follow-us__wrapper li:nth-child(4n) {
  grid-row: 1 / -1;
  grid-column: 2 / 3;

  @include mobile {
    grid-row: 1 / 3;
    grid-column: 2 / -1;
  }
}

.follow-us__wrapper li:nth-child(4n) img {
  @include tablet {
    width: 231px;
    height: 240px;
  }

  @include mobile {
    width: 133px;
    height: 247px;
  }
}

.follow-us__wrapper li:nth-child(n+5) img {
  @include tablet {
    width: 133px;
    height: 87px;
  }
}
