// Основные
.goods {
  max-width: 1210px;
  margin: 0 auto;
}

.goods__wrapper {
  padding: 80px 27px 76px;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 52px 6% 71px;
  }

  @include mobile {
    padding: 52px 6% 68px;
  }
}

// Кнопка фильтра

.goods__button-filter {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
  }
}

// Фильтр товаров

.goods__wrapper form {
  display: flex;
  flex-direction: column;
  width: 21%;

  @include tablet {
    display: none;
  }
}

.goods__accordion {
  border: 1px solid $brown-main;
  margin: 0 0 35px;

  @include tablet {
    display: none;
  }
}

.goods__tab {
  cursor: pointer;
  position: relative;
  padding: 0;
}

.goods__tab:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 4px;
  left: 0;
  background-color: $brown-main;
}

.goods__title {
  font-size: 16px;
  line-height: 21px;

  @include poppins-medium;
}

.goods__tab-content {
  height: 0;
  overflow: hidden;
  transition: height 1s;
  width: 100%;
  padding: 0 27px;
}

.goods__tab-content label {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 25px;
  font-size: 14px;
  line-height: 18px;
  color: $dark;

  @include poppins-medium;
}

.goods__tab-content input+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $brown-main;
  background-color: transparent;
}

.goods__tab-content input:hover+label::before {
  background-color: $pink;
}

.goods__tab-content input:checked+label::before {
  background-color: $brown-main;
}

.goods__tab-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 0 33px 0;
}

.goods__tab-content li {
  display: flex;
  align-items: center;
}

.goods__tab-content li:not(:last-child) {
  margin: 0 0 13px;
}

.goods__range-controls {
  margin: 9px 0 42px 0;
}

.goods__button-apply {
  width: 100%;
  margin: 0 0 19px 0;
}

.goods__button-clear {
  width: 100%;
}

// Открытые табы

// .goods__tab--open div:first-of-type {
//   height: auto;
// }

// .goods__tab--open h3 {
//   margin: 0 0 22px;
//   transition: all 0.3s ease 0s;
// }

// .goods__tab--open h3::after {
//   content: "";
//   display: block;
//   position: absolute;
//   right: 5px;
//   top: 6px;
//   width: 17px;
//   height: 10px;
//   background-image: url("../img/icon-filter-up-desktop.svg");
//   background-repeat: no-repeat;
//   background-position: 0 0;
//   transition: all 0.3s ease 0s;

//   @include tablet {
//     width: 25px;
//     height: 14px;
//     background-image: url("../img/icon-filter-up-tablet.svg");
//   }

//   @include mobile {
//     width: 22px;
//     height: 12px;
//     background-image: url("../img/icon-filter-up-mobile.svg");
//     right: -47px;
//   }
// }


// Список товаров

.goods__list {
  width: 78%;

  @include tablet {
    width: 100%;
  }
}

.goods__catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    width: 100%;
    padding: 50px 0 0 0;
  }

  @include mobile {
    padding: 41px 0 0;
  }
}

.goods__catalog ul {
  width: 100%;
  list-style: none;
  margin: 0 0 70px 72px;
  padding: 0;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  grid-column-gap: 10px;
  grid-row-gap: 34px;
  justify-items: center;

  @include tablet {
    justify-items: normal;
    margin: 0 0 70px 0;
  }

  @include mobile {
    grid-template-columns: 0.8fr 0.8fr;
    margin: 0 0 40px 0;
    gap: 25px;
  }
}

.goods__catalog li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods__catalog figure {
  margin: 0;
  padding: 0;
}

.goods__catalog img {
  object-fit: contain;
  display: block;

  @include tablet {
    width: 206px;
    height: 208px;
  }

  @include mobile {
    height: 136px;
  }
}

.goods__catalog figcaption {
  display: block;
  margin: 20px 0 9px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  text-align: center;

  @include poppins-medium;

  @include mobile {
    margin: 12px 0 7px;
    transform: translate(0, 0);
  }
}

.goods__catalog b {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark;

  @include poppins-bold;
}

// Пагинация списка товаров

.goods__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  transform: translate(32px, 0);

  @include mobile {
    justify-content: center;
  }
}

.goods__pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0;
  width: auto;
  transform: translate(-22px, 1px);

  @include mobile {
    transform: translate(-13px, 2px);
  }
}

.goods__pagination li {
  margin: 0 0 0 13px;
  font-size: 16px;
  line-height: 21px;
  color: $pale-text;
  cursor: pointer;

  @include poppins-medium;

  @include mobile {
    margin: 0 0 0 24px;
  }
}

.goods__pagination li:hover {
  color: $black;
}

.goods__pagination li:first-child {
  color: $dark;
}

.goods__pagination-button-previous {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  cursor: pointer;

  @include poppins-medium;

  @include mobile {
    display: none;
  }
}

.goods__pagination-button-previous:hover {
  color: $black;
  text-decoration: underline;
}

.goods__pagination-button-next {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  cursor: pointer;

  @include poppins-medium;

  @include mobile {
    display: none;
  }
}

.goods__pagination-button-next:hover {
  color: $black;
  text-decoration: underline;
}
