.page-login {
  width: 430px;
  height: 100%;
  margin: 50px auto;
  padding: 0;
  background-color: $beige;
  background-image: url("../img/login-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  object-fit: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/login-desktop@2x.jpg");
  }

  @media (max-width: 1023.99px) {
    background-image: url("../img/login-tablet@1x.jpg");
    width: 442px;
  }

  @media (max-width: 1023.99px) and (min-resolution: 2dppx) {
    background-image: url("../img/login-tablet@2x.jpg");
  }

  @media (max-width: 767.99px) {
    background-image: url("../img/login-mobile@1x.jpg");
    width: 270px;
  }

  @media (max-width: 767.99px) and (min-resolution: 2dppx) {
    background-image: url("../img/login-mobile@2x.jpg");
  }
}


.page-login__wrapper {
  min-height: 100%;
  position: relative;
  padding: 195px 45px 60px;

  @include mobile {
    padding: 112px 19px 47px;
  }
}

.page-login__logo {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 20px;

  @include mobile {
    top: 10px;
    left: 10px;
  }
}

.page-login__logo svg {
  stroke: $brown-dark;

  @include mobile {
    width: 44px;
    height: 44px;
  }
}

.page-login__logo:hover svg {
  stroke: $white;
}

.page-login__close-button {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 20px;
  right: 10px;
  border: none;
}

.page-login__close-button p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21 / 16 *100%;
  width: 106px;
  color: $dark;

  @include poppins-medium;
}

.page-login__close-button svg {
  stroke: $dark;
}

.page-login__close-button:hover svg {
  stroke: $white;
}

.page-login__close-button:active svg {
  opacity: 0.3;
}

.page-login__close-button:hover p {
  color: $white;
}

.page-login__close-button:active p {
  opacity: 0.3;
}

.page-login__form {
  display: flex;
  flex-direction: column;
}

.page-login__form h2 {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 34px;
  line-height: 44 / 34 *100%;
  color: $dark;
  text-align: center;

  @include cormorant-bold;

  @include mobile {
    font-size: 24px;
  }
}

.page-login__form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-login__form li {
  margin: 0 0 35px 0;
  display: flex;
  flex-direction: column;
}

.page-login__form li:last-child a {
  display: block;
  padding: 9px 0;
  font-size: 12px;
  line-height: 18px;
  color: $pale-text;
  align-self: flex-end;

  @include poppins-medium;
}

.page-login__form li:last-child a:hover {
  color: $dark;
}

.page-login__form input {
  border: none;
  background: transparent;
  padding: 9px 9px;
  border-bottom: 1px solid $dark;
}

.page-login__form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: $pale-text;

  @include poppins-medium;
}

.page-login__sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;
}

.page-login__sign-up p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $pale-text;

  @include poppins-medium;
}

.page-login__sign-up a {
  display: block;
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $dark;

  @include poppins-medium;
}

.page-login__sign-up a:hover {
  box-shadow: 0 0 2px 2px $pale-text;
}

.page-login__sign-up a:active {
  box-shadow: 0 0 3px 3px $dark;
}

