.page-login {
  width: 100%;
  padding: 0 14%;
  background-color: $beige;

  @include tablet {
    padding: 0 10%;
  }

  @include mobile {
    padding: 0 5%;
  }
}

.page-login picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page-login img {
  width: 100%;
  object-fit: cover;

  @include mobile {
    height: 84px;
  }
}


.page-login__wrapper {
  min-height: 100%;
  position: relative;
  padding: 240px 0 60px;
  display: flex;
  flex-direction: column;

  @include tablet {
    // padding: 270px 0 60px;
  }

  @include mobile {
    padding: 155px 0 47px;
  }
}

.page-login__logo {
  position: absolute;
  top: 160px;
  align-self: center;

  @include mobile {
    top: 105px;
  }
}

.page-login__logo svg {
  stroke: $brown-main;

  @include mobile {
    width: 44px;
    height: 44px;
  }
}

.page-login__close-button {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 20px;
  right: 0;
  border: none;

  @include mobile {
    top: 11px;
    right: 0;
  }
}

.page-login__close-button p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21 / 16 *100%;
  width: 106px;
  color: $dark;

  @include poppins-medium;
}

.page-login__close-button svg {
  stroke: $dark;
}

.page-login__close-button:hover svg {
  stroke: $white;
}

.page-login__close-button:active svg {
  opacity: 0.3;
}

.page-login__close-button:hover p {
  color: $white;
}

.page-login__close-button:active p {
  opacity: 0.3;
}

.page-login__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;

  @include mobile {
    width: 100%;
  }
}

.page-login__form h2 {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 34px;
  line-height: 44 / 34 *100%;
  color: $dark;
  text-align: center;

  @include cormorant-bold;

  @include mobile {
    font-size: 24px;
  }
}

.page-login__form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-login__form li {
  margin: 0 0 35px 0;
  display: flex;
  flex-direction: column;
}

.page-login__form li:last-child a {
  display: block;
  padding: 9px 0;
  font-size: 12px;
  line-height: 18px;
  color: $pale-text;
  align-self: flex-end;

  @include poppins-medium;
}

.page-login__form li:last-child a:hover {
  color: $dark;
}

.page-login__form input {
  border: none;
  background: transparent;
  padding: 10px;
  border-bottom: 1px solid $dark;
}

.page-login__form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: $pale-text;

  @include poppins-medium;
}

.page-login__form input:hover {
  border-bottom: 1px solid $white;
}

.page-login__form input:focus {
  background: $pink;
}

.page-login__sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;
}

.page-login__sign-up p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $pale-text;

  @include poppins-medium;
}

.page-login__sign-up a {
  display: block;
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $dark;

  @include poppins-medium;
}

.page-login__sign-up a:hover {
  box-shadow: 0 0 2px 2px $pale-text;
}

.page-login__sign-up a:active {
  box-shadow: 0 0 3px 3px $dark;
}

