.page-header {
  width: 100%;
  flex: 0 0 auto;

  @include poppins-medium;
  z-index: 2;
  overflow: hidden;
  background-color: $white;

  @include tablet {
    height: 100px;
    transition: height 1s ease 0s;
  }

  @include mobile {
    height: 93px;
  }
}

// Основные стили

.page-header__wrapper {
  padding: 20px 20px 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1210px;
  margin: 0 auto;

  @include tablet {
    position: relative;
    padding: 28px 6% 80px;
  }

  @include mobile {
    padding: 17px 5% 80px;
  }
}

.page-header__wrapper a:hover {
  color: $brown-main;

  @include tablet {
    color: $dark;
  }
}

// Открытое мобильное меню

.page-header--open {
  background-color: $brown-main;
  z-index: 50;
  overflow: hidden;
  height: 100vh;
  overflow-y: auto;
  transition: height 1s ease 0s;
}

.page-header--open .page-header__logo svg {
  fill: $white;

  @include mobile {
    width: 52px;
    height: 52px;
  }
}

.page-header--open .page-header__link--cart svg {
  display: none;

  @include tablet {
    cursor: pointer;
    display: block;
    stroke: $white;
    width: 18px;
    height: 16px;
    transition: stroke 0.3s ease 0s;
  }
}

.page-header--open .page-header__link--cart:hover {
  svg {
    stroke: $dark;
    transition: stroke 0.3s ease 0s;
  }
}

.page-header--open .page-header__toggle::before {
  @include tablet {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $white;
    box-shadow: 0 7px 0 0 $white, 0 14px 0 0 $white;
    transition: all 0.3s ease 0s;
  }
}

.page-header--open .page-header__toggle:hover::before {
  background-color: $dark;
  box-shadow: 0 7px 0 0 $dark, 0 14px 0 0 $dark;
}

// Главный логотип

.page-header__logo {
  display: block;
  transform: translate(80px, 10px);

  @include tablet {
    transform: translate(0, 0);
  }
}

.page-header__logo svg {
  fill: $brown-main;

  @include mobile {
    width: 52px;
    height: 52px;
  }
}

.page-header__logo:hover svg {
  fill: $dark;
}

// Поле поиска

.page-header__search {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  transform: translate(-8px, -2px);

  @include tablet {
    width: 100%;
    order: 3;
    margin: 35px 0 0;
  }

  @include mobile {
    width: 95%;
    margin: 28px 0 0;
  }
}

.page-header__search form {
  display: flex;
  align-items: center;

  @include tablet {
    width: 100%;
  }
}

.page-header__search input {
  border: none;
  margin: 0 0 0 11px;
  padding: 11px 0;

  @include tablet {
    width: 100%;
    background-color: $white-pale;
    border-radius: 21px;
    margin: 0;
    padding: 13px 0;
  }
}

.page-header__search button {
  border: none;
  background: transparent;
  cursor: pointer;

  @include tablet {
    position: absolute;
    left: 9px;
    top: 12px;
  }

  @include mobile {
    left: 11px;
  }
}

.page-header__search svg {
  stroke: $black;

  @include tablet {
    stroke: $white;
    fill: $white;
    opacity: 0.6;
  }
}

.page-header__search button:hover svg {
  stroke: $brown-dark;

  @include tablet {
    stroke: $pink;
    fill: $pink;
    opacity: 0.6;
  }
}



.page-header__search input::placeholder {
  color: $pale-text;
  font-size: 14px;
  line-height: 21px;

  @include poppins-medium;

  @include tablet {
    color: transparent;
  }
}

// Служебные ссылки

.page-header__links {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: flex-end;
  transform: translate(-2px, -3px);

  @include tablet {
    width: auto;
    transform: translate(0, 0);
  }
}

.page-header__link {
  display: block;
  margin: 0 0 0 20px;
}

.page-header__links a {
  font-size: 14px;
  line-height: 21px;
  color: $dark;
}

.page-header__link--login {
  @include tablet {
    display: none;
  }
}

.page-header__link--cart {
  margin: 0 0 0 34px;

  @include tablet {
    margin: 0;
  }
}

.page-header__link--cart svg {
  display: none;

  @include tablet {
    cursor: pointer;
    display: block;
    stroke: $dark;
    width: 18px;
    height: 16px;
    transition: stroke 0.3s ease 0s;
  }
}

.page-header__link--cart:hover {
  svg {
    stroke: $brown-main;
  }
}

.page-header__link--cart span {
  @include tablet {
    display: none;
  }
}

.page-header__link--cart span:last-of-type {
  margin: 0 0 0 5px;

  @include tablet {
    margin: 0;
  }
}

// Бургер

.page-header__toggle {
  display: none;

  @include tablet {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 16px;
    position: relative;
  }
}

.page-header__toggle::before {
  @include tablet {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $dark;
    box-shadow: 0 7px 0 0 $dark, 0 14px 0 0 $dark;
    transition: all 0.3s ease 0s;
  }
}

.page-header__toggle:hover::before {
  background-color: $brown-main;
  box-shadow: 0 7px 0 0 $brown-main, 0 14px 0 0 $brown-main;
}

// Меню навигации и мобильное меню

.page-header__menu {
  width: 100%;
  padding: 43px 0 0 0;

  @include tablet {
    order: 5;
    padding: 44px 0 0 0;
  }

  @include mobile {
    padding: 32px 0 0;
  }
}

.page-header__menu ul {
  list-style: none;
}

.page-header__goods-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 557px;
  margin: 0 auto;
  padding: 0;

  @include tablet {
    flex-direction: column;
    margin: 0 0 19px 0;
  }

  @include mobile {
    margin: 0 0 8px 0;
  }
}

.page-header__goods-list a {
  font-size: 16px;
  line-height: 24px;
  color: $dark;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
    color: $white;
  }
}

.page-header__goods-list li {
  margin: 0 0 0 36px;

  @include tablet {
    margin: 0 0 22px 0;
  }
}

.page-header__data-list {
  display: none;
  margin: 0;
  padding: 0;

  @include tablet {
    display: block;
    margin: 0 0 44px 0;
  }

  @include mobile {
    margin: 0 0 37px;
  }
}

.page-header__data-list li:not(:last-child) {
  @include tablet {
    margin: 0 0 19px 0;
  }
}

.page-header__data-list a {
  @include tablet {
    font-size: 18px;
    line-height: 23px;
    color: $white-pale-75;
  }
}

.page-header__menu-link-login {
  display: none;

  @include tablet {
    display: block;
    font-size: 18px;
    line-height: 23px;
    color: $white;
  }
}
