// Основное

.page-footer {
  background-color: $black;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  flex: 0 0 auto;
}

.page-footer__wrapper {
  padding: 85px 17px 95px;
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    padding: 50px 20% 60px 6%;
  }

  @include mobile {
    flex-direction: column;
    padding: 51px 5% 66px;
  }
}

.page-footer__wrapper a {
  color: $white;
}

// Блок подписки на новости

.page-footer__signin {
  margin: 0 0 20px 0;

  @include tablet {
    width: 100%;
    margin: 0 0 42px 0;
  }

  @include mobile {
    margin: 0 0 60px 0;
  }
}

.page-footer__signin h2 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: $white;
  margin: 0 0 13px 0;
  padding: 0;

  @include cormorant-bold;

  @include tablet {
    margin: 0 0 12px 0;
    transform: translate(-4px, 0);
  }

  @include mobile {
    margin: 0 0 13px;
    transform: translate(-4px, 0);
    max-width: 80%;
  }
}

.page-footer__signin p {
  font-size: 16px;
  line-height: 21px;
  color: $pale-text;
  margin: 0 0 42px 0;
  padding: 0 0 0 5px;

  @include poppins-regular;

  @include tablet {
    padding: 0;
  }

  @include mobile {
    max-width: 80%;
    margin: 0 0 35px 0;
  }
}

.page-footer__signin-input {
  position: relative;

  @include tablet {
    transform: translate(-3px, -2px);
  }

  @include mobile {
    transform: translate(-3px, 7px);
  }
}

.page-footer__signin-input form {
  display: flex;
  justify-content: space-between;
}

.page-footer__signin-input input {
  border: none;
  background: transparent;
  color: $pink;
  font-size: 14px;
  line-height: 21px;
  min-width: 398px;
  outline: 0;
  outline-offset: none;

  @include poppins-medium;

  @include mobile {
    min-width: 183px;
  }
}

.page-footer__signin-input::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $white;
  bottom: -10px;
  left: 0;
}

.page-footer__signin-input button {
  font-size: 16px;
  line-height: 21px;
  width: 106px;
  background-color: $black;
  border: none;
  color: $white;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 114px;
  cursor: pointer;

  @include poppins-medium;

  @include tablet {
    transform: translate(6px, 2px);
  }
}

.page-footer__signin-input svg {
  margin: 0 0 0 24px;
  stroke: $white;

  @include tablet {
    margin: 0 0 0 13px;
  }

  @include mobile {
    margin: 0 0 0 5px;
  }
}

.page-footer__signin-input button:hover {
  color: $pink;

  svg {
    stroke: $pink;
  }
}

// Блок со служебными ссылками

.page-footer__services-list ul {
  list-style: none;
  margin: 0 0 0 22px;
  padding: 9px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  row-gap: 20px;
  column-gap: 71px;

  @include tablet {
    margin: 0;
    column-gap: 85px;
    padding: 15px 0 0 0;
  }

  @include mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.page-footer__services-list a {
  font-size: 16px;
  line-height: 21px;

  @include poppins-medium;
}

.page-footer__services-list a:hover {
  color: $pink;
}

.page-footer__services-list li {
  @include mobile {
    margin: 0 0 21px 0;
  }
}

.page-footer__services-list li:nth-child(8n-6) {
  @include mobile {
    order: 2;
  }
}

.page-footer__services-list li:nth-child(8n-4) {
  @include mobile {
    order: 3;
  }
}

.page-footer__services-list li:nth-child(8n-2) {
  @include mobile {
    order: 4;
  }
}

.page-footer__services-list li:nth-child(8n-1) {
  @include mobile {
    margin: 0 0 38px 0;
  }
}

.page-footer__services-list li:last-child {
  @include mobile {
    order: 8;
    margin: 0 0 38px 0;
  }
}

// Блок соцсетей

.page-footer__social ul {
  list-style: none;
  margin: 0;
  padding: 9px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    padding: 13px 0 0 0;
  }

  @include mobile {
    flex-direction: row;
    height: auto;
    width: 168px;
    padding: 13px 0 0 0;
    transform: translate(-6px, -1px);
  }
}

.page-footer__social li {
  margin: 0 0 20px 0;

  @include mobile {
    margin: 0;
  }
}

.page-footer__social a {
  font-size: 16px;
  line-height: 21px;
  display: flex;

  @include poppins-medium;
}

.page-footer__social svg {
  fill: $white;

  @include mobile {
    width: 20px;
    height: 21px;
  }
}

.page-footer__social a:hover {
  color: $pink;

  svg {
    fill: $pink;
  }
}

.page-footer__social span {
  text-align: left;
  display: block;
  margin: 0 0 0 18px;

  @include mobile {
    display: none;
  }
}
