.popup-filter {
  display: block;
  max-width: 334px;
  position: absolute;
  top: 382px;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: $white;
}

.popup-filter--hide {
  display: none;
}

.popup-filter__wrapper {
  padding: 40px;
  position: relative;
}

.popup-filter__wrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup-filter__close-button {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $black;
  background-image: url("../img/icon-close-white.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

.popup-filter__close-button:hover {
  box-shadow: 0 0 3px 3px $pale-text;
}

.popup-filter__close-button:active {
  box-shadow: 0 0 3px 3px $dark;
}
