.popup-login {
  display: block;
  width: 31%;
  position: absolute;
  top: 100px;
  left: 34%;
  transform: translate(4px, 0px);
  z-index: 5;
  background-color: $beige;

  @include tablet {
    width: 95%;
    left: 0;
    margin: 0 20px;
    top: 140px;
  }

  @include mobile {
    width: 88%;
  }
}

.popup-login--hide {
  display: none;
}

.popup-login picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.popup-login img {
  width: 100%;
  object-fit: cover;

  @include mobile {
    height: 84px;
  }
}

.popup-login__wrapper {
  position: relative;
  padding: 189px 41px 46px;

  @include tablet {
    padding: 195px 25px 60px;
  }

  @include mobile {
    padding: 112px 12px 47px;
  }
}

.popup-login__close-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 22px;
  border: none;
  background: transparent;
  width: 14px;
  height: 14px;
}

.popup-login__close-button svg {
  fill: $dark;
}

.popup-login__close-button:hover svg {
  fill: $white;
}

.popup-login__close-button:active svg {
  opacity: 0.3;
}

.popup-login__form {
  display: flex;
  flex-direction: column;
}

.popup-login__form h2 {
  display: block;
  margin: 0 0 28px 0;
  padding: 0;
  font-size: 34px;
  line-height: 44px;
  color: $dark;
  text-align: center;

  @include cormorant-bold;

  @include mobile {
    font-size: 24px;
    line-height: 31px;
  }
}

.popup-login__form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-login__form li {
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: column;
}

.popup-login__form li:last-child a {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  line-height: 18px;
  color: $pale-text;
  align-self: flex-end;

  @include poppins-medium;
}

.popup-login__form li:last-child a:hover {
  color: $dark;
}

.popup-login__form input {
  border: none;
  background: transparent;
  padding: 9px 3px;
  border-bottom: 1px solid $dark;
}

.popup-login__form input:hover {
  border-bottom: 1px solid $white;
}

.popup-login__form input:focus {
  background: $pink;
}

.popup-login__form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: $pale-text;

  @include poppins-medium;
}

.popup-login__sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0;
}

.popup-login__sign-up p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $pale-text;

  @include poppins-medium;
}

.popup-login__sign-up a {
  display: block;
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $dark;

  @include poppins-medium;
}

.popup-login__sign-up a:hover {
  box-shadow: 0 0 2px 2px $pale-text;
}

.popup-login__sign-up a:active {
  box-shadow: 0 0 3px 3px $dark;
}

.popup-login__button {
  transform: translate(1px, 7px);
}
