.popup-filter {
  display: block;
  max-width: 491px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: $white;

  @include mobile {
    max-width: 319px;
  }
}

.popup-filter--hide {
  display: none;
}

.popup-filter__wrapper {
  padding: 38px 40px 88px;
  position: relative;

  @include mobile {
    padding: 76px 19px 29px;
  }
}

.popup-filter__wrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup-filter__close-button {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $black;
  background-image: url("../img/icon-close-white.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  transition: all 0.3s ease-in;

  @include mobile {
    top: 59px;
    right: 15px;
  }
}

.popup-filter__close-button:hover {
  box-shadow: 0 0 3px 3px $pale-text;
  transition: all 0.3s ease-in;
}

.popup-filter__close-button:active {
  box-shadow: 0 0 3px 3px $dark;
}
