// Основное и вспомогательное

.slider-main {
  width: 100%;
}

.slider-main__wrapper {
  padding: 122px 7% 115px;

  @include tablet {
    padding: 80px 7%;
  }

  @include mobile {
    padding: 70px 5%;
  }
}

.slider-main__wrapper .slider-swiper {
  padding: 0 0 70px 0;
}
