// Основное и вспомогательное

.slider-main {
  width: 100%;
}

.slider-main__wrapper {
  padding: 122px 7% 115px;

  @include tablet {
    padding: 69px 6% 57px;
  }

  @include mobile {
    padding: 56px 5% 47px;
  }
}

.slider-main__wrapper .slider-swiper {
  padding: 0 0 70px 0;

  @include mobile {
    padding: 0 0 61px;
  }
}
