// Основное и вспомогательное

.slider-main {
  width: 100%;
}

.slider-main__wrapper {
  padding: 130px 7%;

  @include tablet {
    padding: 80px 7%;
  }

  @include mobile {
    padding: 70px 5%;
  }
}
