// Colors

$white: #ffffff;
$white-pale: rgba(255, 255, 255, 0.15);
$white-pale-75: rgba(255, 255, 255, 0.75);
$black: #000000;
$dark: #1D1613;
$brown-main: #A87B62;
$beige: #F0EAE4;
$pale-text: #9B9997;
$pink: #F0C8D9;

// Viewports

$mobile-max-width: 767.99px;
$tablet-max-width: 1023.99px;


// - мобильная версия — 320px - 767px;
// - планшетная версия — 768px - 1023px;
// - десктопная версия — от 1024px и выше
