// Colors

$white: #ffffff;
$white-pale: rgba(255, 255, 255, 0.15);
$white-pale-75: rgba(255, 255, 255, 0.75);
$black: #000000;
$dark: #1d1613;
$brown-main: #a87b62;
$brown-dark: #795643;
$beige: #f0eae4;
$pale-text: #9b9997;
$pale-grey: #e7e7e7;
$pink: #f6b9d3;

// Viewports

$mobile-max-width: 767.99px;
$tablet-max-width: 1023.99px;
